/* Universal Styles */
* {
  box-sizing: border-box;
  cursor: none;
}

/* Body Layout */
body {
  margin: 30px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(240, 244, 248, 0.95);
  font-family: 'Roboto', sans-serif;
}

/* Container */
.container {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

/* Headings */
h1 {
  color: var(--secondary-color, #ff80ab);
}

/* Textarea */
textarea {
  background-color: var(--container-background-color, #F6FBFF);
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 2px solid var(--primary-color, #80d8ff);
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  font-size: 15px;
  outline: var(--input-outline-color, #40c4ff);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea::placeholder {
  color: var(--placeholder-color, #9f9f9f);
}
