/* Settings Icon */
#settingsIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 30px;
  color: var(--secondary-color, #ff80ab);
  transition: color 0.3s;
}

#settingsIcon:hover {
  color: var(--primary-color, #80d8ff);
}

/* Settings Dialog */
#settingsDialog.hidden {
  display: none !important;
}

#settingsDialog {
  position: fixed;
  top: 60px;
  right: 20px;
  width: 240px;
  padding: 15px;
  background-color: var(--dialog-background-color, #ffffff);
  border: 2px solid var(--primary-color, #80d8ff);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

/* toggle light-dark mode*/
#darkModeToggle {
  position: fixed;
  top: 20px;
  right: 70px;
  z-index: 1000;
  font-size: 30px;
  color: var(--secondary-color);
  transition: color 0.3s;
}

#darkModeToggle:hover {
  color: var(--primary-color);
}
